# BigMart Sales [My 1st Project]

In [2]:
import numpy as np
import pandas as pd

In [3]:
from pandas_profiling import ProfileReport

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
train_data=pd.read_csv(r'C:/Users/ASHU RASA/Desktop/Archieve/Project/Big-Mart-Sales-master/2.Project datasets/Train.csv')

In [5]:
test_data=pd.read_csv(r'C:/Users/ASHU RASA/Desktop/Archieve/Project/Big-Mart-Sales-master/2.Project datasets/Test.csv')

In [6]:
train_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [7]:
test_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [8]:
train_data['data']='train'

In [9]:
test_data['data']='test'

In [10]:
data_all=pd.concat([train_data,test_data],axis=0)

In [11]:
data_all.shape

(14204, 13)

In [12]:
data_all.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
data                          object
dtype: object

In [13]:
data_all['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [14]:
data_all['Item_Fat_Content'].replace(['low fat','LF'],['Low Fat','Low Fat'],inplace = True)
data_all['Item_Fat_Content'].replace(['reg'],['Regular'],inplace = True)

In [15]:
data_all['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [16]:
col = ['Item_Fat_Content', 'Item_Type', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [17]:
data_all=pd.get_dummies(data_all,columns=col,drop_first=True)

In [18]:
data_all.shape

(14204, 31)

In [19]:
data_all=data_all.drop(['Item_Identifier','Outlet_Identifier'],axis=1)

In [20]:
data_all.isnull().sum()

Item_Weight                        2439
Item_Visibility                       0
Item_MRP                              0
Outlet_Establishment_Year             0
Item_Outlet_Sales                  5681
data                                  0
Item_Fat_Content_Regular              0
Item_Type_Breads                      0
Item_Type_Breakfast                   0
Item_Type_Canned                      0
Item_Type_Dairy                       0
Item_Type_Frozen Foods                0
Item_Type_Fruits and Vegetables       0
Item_Type_Hard Drinks                 0
Item_Type_Health and Hygiene          0
Item_Type_Household                   0
Item_Type_Meat                        0
Item_Type_Others                      0
Item_Type_Seafood                     0
Item_Type_Snack Foods                 0
Item_Type_Soft Drinks                 0
Item_Type_Starchy Foods               0
Outlet_Size_Medium                    0
Outlet_Size_Small                     0
Outlet_Location_Type_Tier 2           0
Outlet_Location_Type_Tier 3           0
Outlet_Type_Supermarket Type1         0
Outlet_Type_Supermarket Type2         0
Outlet_Type_Supermarket Type3         0
dtype: int64

In [21]:
data_all.shape

(14204, 29)

In [22]:
data_all.dtypes

Item_Weight                        float64
Item_Visibility                    float64
Item_MRP                           float64
Outlet_Establishment_Year            int64
Item_Outlet_Sales                  float64
data                                object
Item_Fat_Content_Regular             uint8
Item_Type_Breads                     uint8
Item_Type_Breakfast                  uint8
Item_Type_Canned                     uint8
Item_Type_Dairy                      uint8
Item_Type_Frozen Foods               uint8
Item_Type_Fruits and Vegetables      uint8
Item_Type_Hard Drinks                uint8
Item_Type_Health and Hygiene         uint8
Item_Type_Household                  uint8
Item_Type_Meat                       uint8
Item_Type_Others                     uint8
Item_Type_Seafood                    uint8
Item_Type_Snack Foods                uint8
Item_Type_Soft Drinks                uint8
Item_Type_Starchy Foods              uint8
Outlet_Size_Medium                   uint8
Outlet_Size_Small                    uint8
Outlet_Location_Type_Tier 2          uint8
Outlet_Location_Type_Tier 3          uint8
Outlet_Type_Supermarket Type1        uint8
Outlet_Type_Supermarket Type2        uint8
Outlet_Type_Supermarket Type3        uint8
dtype: object

In [23]:
data_all['Item_Weight'].fillna(data_all['Item_Weight'].mean(),inplace=True)

In [24]:
data_all.isnull().sum()

Item_Weight                           0
Item_Visibility                       0
Item_MRP                              0
Outlet_Establishment_Year             0
Item_Outlet_Sales                  5681
data                                  0
Item_Fat_Content_Regular              0
Item_Type_Breads                      0
Item_Type_Breakfast                   0
Item_Type_Canned                      0
Item_Type_Dairy                       0
Item_Type_Frozen Foods                0
Item_Type_Fruits and Vegetables       0
Item_Type_Hard Drinks                 0
Item_Type_Health and Hygiene          0
Item_Type_Household                   0
Item_Type_Meat                        0
Item_Type_Others                      0
Item_Type_Seafood                     0
Item_Type_Snack Foods                 0
Item_Type_Soft Drinks                 0
Item_Type_Starchy Foods               0
Outlet_Size_Medium                    0
Outlet_Size_Small                     0
Outlet_Location_Type_Tier 2           0
Outlet_Location_Type_Tier 3           0
Outlet_Type_Supermarket Type1         0
Outlet_Type_Supermarket Type2         0
Outlet_Type_Supermarket Type3         0
dtype: int64

In [25]:
data_train=data_all[data_all.data=='train']

In [26]:
data_train.isnull().sum()

Item_Weight                        0
Item_Visibility                    0
Item_MRP                           0
Outlet_Establishment_Year          0
Item_Outlet_Sales                  0
data                               0
Item_Fat_Content_Regular           0
Item_Type_Breads                   0
Item_Type_Breakfast                0
Item_Type_Canned                   0
Item_Type_Dairy                    0
Item_Type_Frozen Foods             0
Item_Type_Fruits and Vegetables    0
Item_Type_Hard Drinks              0
Item_Type_Health and Hygiene       0
Item_Type_Household                0
Item_Type_Meat                     0
Item_Type_Others                   0
Item_Type_Seafood                  0
Item_Type_Snack Foods              0
Item_Type_Soft Drinks              0
Item_Type_Starchy Foods            0
Outlet_Size_Medium                 0
Outlet_Size_Small                  0
Outlet_Location_Type_Tier 2        0
Outlet_Location_Type_Tier 3        0
Outlet_Type_Supermarket Type1      0
Outlet_Type_Supermarket Type2      0
Outlet_Type_Supermarket Type3      0
dtype: int64

In [27]:
data_test=data_all[data_all.data=='test']

In [28]:
data_train=data_train.drop(['data'],axis=1)

In [29]:
data_test=data_test.drop(['data'],axis=1)

In [30]:
data_train.shape

(8523, 28)

In [31]:
x=data_train.drop(['Item_Outlet_Sales'],axis=1)

In [32]:
x.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_Regular,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
2,17.50,0.016760,141.6180,1999,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,8.93,0.000000,53.8614,1987,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [33]:
y=data_train['Item_Outlet_Sales']

In [34]:
y.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=1)

In [37]:
train_x.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_Regular,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
1945,18.35,0.089345,191.9504,2009,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
1720,17.35,0.168065,176.2712,2009,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
1954,10.10,0.053887,225.6088,2007,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1919,10.85,0.162904,104.9622,2009,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
2461,7.17,0.059717,130.9968,2004,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lr=LinearRegression()

In [40]:
lr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
pred=lr.predict(test_x)

In [42]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [43]:
rmse = sqrt(mean_squared_error(test_y, pred))

In [44]:
rmse

1144.9518625692967

In [45]:
pred

array([ 651.92044297, 1227.94272168, 3198.80330362, ..., 2593.46776959,
       2379.40865579, 2467.6152971 ])

In [46]:
test_y

1070     952.7598
6305    1133.8574
8504    4138.6128
5562    1657.1762
1410     679.1160
          ...
376     5715.2272
7708    4832.3764
3812    2972.1312
3928    2492.7552
7654    1717.7640
Name: Item_Outlet_Sales, Length: 1705, dtype: float64

In [47]:
from xgboost.sklearn import XGBRegressor

In [48]:
XGB = XGBRegressor()

In [49]:
XGB.fit(train_x,train_y)

[16:49:39] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [50]:
pred1=XGB.predict(test_x)

In [51]:
# from sklearn.metrics import mean_squared_error
# from math import sqrt
rmse1 = sqrt(mean_squared_error(test_y, pred1))

In [52]:
rmse1

1091.0570870994961

In [53]:
from sklearn.svm import SVR

In [54]:
reg = SVR()

In [55]:
reg.fit(train_x,train_y)

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [56]:
pred2=reg.predict(test_x)

In [57]:
# from sklearn.metrics import mean_squared_error
# from math import sqrt
rmse2 = sqrt(mean_squared_error(test_y, pred2))

In [58]:
rmse2

1740.6718685406004

In [59]:
from sklearn.ensemble import RandomForestRegressor

In [60]:
raf = RandomForestRegressor()

In [61]:
raf.fit(train_x,train_y)

C:\Users\ASHU RASA\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [62]:
pred3 = raf.predict(test_x)

In [63]:
#from sklearn.metrics import mean_squared_error
# from math import sqrt
rmse3 = sqrt(mean_squared_error(test_y,pred3))

In [64]:
rmse3

1197.1170882926233

In [65]:
from sklearn import metrics

In [66]:
np.mean(np.abs((test_y-pred)/test_y))*100

111.99433846324595

In [67]:
np.mean(np.abs((test_y-pred1)/test_y))*100

61.619715803294106

In [68]:
np.mean(np.abs((test_y-pred2)/test_y))*100

196.5611046905349

In [69]:
np.mean(np.abs((test_y-pred3)/test_y))*100

58.35412004496088

In [70]:
#creating Report in html
report = ProfileReport(data_all)
report.to_file(output_file='report.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=44.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [71]:
#creating results/Output .csv file
result = pd.DataFrame()
result['Item_MRP'] = test_x['Item_MRP']
result['Item_Weight'] = test_x['Item_Weight']

result["Item_Outlet_Sales"] =pred1
result = result.sort_index()
result.to_csv('Output_Bigmart_XGBoost.csv',index = False)

In [72]:
result

      Item_MRP  Item_Weight  Item_Outlet_Sales
21    144.5444    12.792854        3759.536865
25     45.9060    13.000000         824.727173
28     45.5086     5.925000         -73.956398
39     87.6198    12.792854        2326.216797
44    126.5046    12.150000        1942.687500
...        ...          ...                ...
8497  150.0050    13.650000        2502.891602
8503  120.1756    20.500000        2027.134521
8504  111.7544    12.792854        2666.600342
8511  262.5910    17.500000        3695.484863
8512  178.3028    20.700000        2788.842773

[1705 rows x 3 columns]

In [73]:
data_all.dtypes

Item_Weight                        float64
Item_Visibility                    float64
Item_MRP                           float64
Outlet_Establishment_Year            int64
Item_Outlet_Sales                  float64
data                                object
Item_Fat_Content_Regular             uint8
Item_Type_Breads                     uint8
Item_Type_Breakfast                  uint8
Item_Type_Canned                     uint8
Item_Type_Dairy                      uint8
Item_Type_Frozen Foods               uint8
Item_Type_Fruits and Vegetables      uint8
Item_Type_Hard Drinks                uint8
Item_Type_Health and Hygiene         uint8
Item_Type_Household                  uint8
Item_Type_Meat                       uint8
Item_Type_Others                     uint8
Item_Type_Seafood                    uint8
Item_Type_Snack Foods                uint8
Item_Type_Soft Drinks                uint8
Item_Type_Starchy Foods              uint8
Outlet_Size_Medium                   uint8
Outlet_Size_Small                    uint8
Outlet_Location_Type_Tier 2          uint8
Outlet_Location_Type_Tier 3          uint8
Outlet_Type_Supermarket Type1        uint8
Outlet_Type_Supermarket Type2        uint8
Outlet_Type_Supermarket Type3        uint8
dtype: object

### end